body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Shadows Into Light', cursive;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    text-align: center;
    margin: 2px solid black;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: lightgrey;
}

#scoreboard {
    margin: 0px;
}